<footer class="flex flex-col items-center justify-center w-full p-10 bg-gray-900">
    <div class="max-w-[1280px] w-full mx-auto flex flex-col-reverse gap-y-5 justify-evenly items-center md:flex-row ">
        <div class="flex items-center justify-center">
            <img src="../../../assets/img/logo-ww.svg" class="w-10" alt="WeatherWiz logo">
            <p class="text-xl text-white">Created by <span class="text-2xl font-caveat text-amber-300">Leo Ss</span></p>
        </div>
        
        <p class="hidden text-2xl text-white md:block">|</p>
        
        <div class="flex flex-col items-center justify-center">
            <p class="text-xl text-white">Iconos por
                <a href="https://icon-icons.com/es/users/Wr7JciO5Hm2DlNyMTXCi9/icon-sets/" target="_blank" rel="noopener noreferrer" class="pb-1 text-2xl underline underline-offset-8 font-caveat text-amber-300">Laura Reen</a>
            </p>
        </div>
    </div>
</footer>