<div class="max-w-[1280px] w-full mx-auto flex flex-col justify-center items-center mt-14">
    <div class="w-[90%] sm:w-9/12 lg:w-3/5 flex flex-col sm:flex-row sm:items-center gap-y-5 sm:gap-y-0 sm:gap-x-3 relative z-0">
       
        <input 
            type="text"
            id="input-clima"
            class="block py-2.5 px-0 w-full text-xl text-center bg-transparent border-0 border-b-2 appearance-none text-white border-indigo-800 focus:border-indigo-700 focus:outline-none focus:ring-0 peer"
            placeholder=" "
            autocomplete="off"
            [(ngModel)]="ciudad"
            (change)="validarInput()"
        />
        
        <label for="input-clima" class="absolute text-xl text-white duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-">Ingrese una ciudad</label>

        <button 
            class="px-4 py-2 text-xl text-white bg-indigo-800 rounded-md w-ful sm:w-auto"
            [disabled]="ciudad === ''"
            (click)="obtenerClima()"
        >
            Buscar
        </button>
    </div>

    <div 
        class="w-[90%] sm:w-9/12 lg:w-3/5"
        *ngIf="loading"
    >
        <div class="container-spinner">
            <div class="cloud front">
            <span class="left-front"></span>
            <span class="right-front"></span>
            </div>
            <span class="sun sunshine"></span>
            <span class="sun"></span>
            <div class="cloud back">
            <span class="left-back"></span>
            <span class="right-back"></span>
            </div>
        </div>
    </div>

    <div 
        class="w-[90%] lg:w-3/5 my-12 bg-gray-900/50 rounded-md flex flex-col md:flex-row justify-center items-center gap-y-3 md:gap-y-0 md:gap-x-10 p-8"
        *ngIf="existeCiudad"
    >
        <div class="flex flex-col items-center mb-3 sm:mb-0">
            <img [src]="iconMain" class="w-40 md:w-64">
            <p class="text-2xl text-white">{{ descripcion | uppercase }}</p>
        </div>
        
        <div class="flex flex-col justify-center gap-y-4">
            <div class="flex items-center gap-x-4">
                <img src="../../../assets/img/c.svg" class="w-8">
                <p class="text-xl text-white">Temperatura actual: <span>{{temperatura | number: '1.1-1' }}°</span> </p>
            </div>

            <div class="flex items-center gap-x-4">
                <div class="flex items-center gap-x-4">
                    <img src="../../../assets/img/t-min.svg" class="w-8">
                    <p class="text-xl text-white">Min: <span>{{temperaturaMin | number: '1.1-1' }}°</span> </p>
                </div>

                <div class="flex items-center gap-x-4">
                    <img src="../../../assets/img/t-max.svg" class="w-8">
                    <p class="text-xl text-white">Max: <span>{{temperaturaMax | number: '1.1-1' }}°</span> </p>
                </div>
            </div>
            
            <div class="flex items-center gap-x-4">
                <img src="../../../assets/img/humidity.svg" class="w-8">
                <p class="text-xl text-white">Húmedad: <span>{{humedad}}%</span> </p>
            </div>

            <div class="flex items-center gap-x-4">
                <div class="flex items-center gap-x-4">
                    <img src="../../../assets/img/sunrise.svg" class="w-8">
                    <p class="text-xl text-white"><span>{{sunrise.hora | zeroPad }} : {{sunrise.minutos | zeroPad }} Hs</span> </p>
                </div>

                <div class="flex items-center gap-x-4">
                    <img src="../../../assets/img/sunset.svg" class="w-8">
                    <p class="text-xl text-white"><span>{{sunset.hora | zeroPad }} : {{sunset.minutos | zeroPad }} Hs</span> </p>
                </div>
            </div>
        </div>

    </div>

    <div 
        class="w-[90%] sm:w-9/12 lg:w-3/5 my-12 bg-red-600 rounded-md flex flex-col sm:flex-row justify-center items-center gap-y-3 sm:gap-y-0 sm:gap-x-10 py-4"
        *ngIf="errorBusqueda"
    >
        <p class="text-2xl text-center text-white">Ciudad no encontrada</p>
    </div>

</div>
