<div class="max-w-[1280px] w-full mx-auto flex flex-col justify-center items-center mt-14">
    <div class="w-[90%] sm:w-9/12 lg:w-3/5 flex flex-col sm:flex-row sm:items-center gap-y-5 sm:gap-y-0 sm:gap-x-3 relative z-0">
        <!-- <input 
            type="text"
            class="w-[90%] sm:w-9/12 lg:w-3/5 p-2 text-xl text-center rounded-md"
            placeholder="Ingrese una ciudad"
        > -->
        <input type="text" id="input-clima" class="block py-2.5 px-0 w-full text-xl text-center bg-transparent border-0 border-b-2 appearance-none text-white border-indigo-800 focus:border-indigo-700 focus:outline-none focus:ring-0 peer" placeholder=" "/>
        
        <label for="input-clima" class="absolute text-xl text-white duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-gray-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-">Ingrese una ciudad</label>

        <button 
            class="w-ful sm:w-auto text-xl py-2 px-4 rounded-md bg-indigo-800 text-white">
            Buscar
        </button>
    </div>

</div>
